<style>
  .periodic{
    display: grid;
  }
  abbr{
    font-size: 30px;
  }
  .ele {
    width:120px;
    color: black;
  }
  a{ 
    color: inherit; 
  } 
  .gas{
    color: rgb(153,0,0);
  }
  .liquid{
    color: rgb(51,90,221);
  }
  .diatomic-nonmetal, .polyatomic-nonmetal{
    background-color: rgb(140,237,140);
  }
  .alkali-metal{
    background-color: rgb(234,206,93);
  }
  .alkaline-earth-metal{
    background-color: rgb(241,241,101);
  }
  .transition-metal{
    background-color: rgb(250,197,183);
  }
  .metalloid{
    background-color: rgb(158,229,212);
  }
  .post-transition-metal{
    background-color: rgb(172,223,236);
  }
  .noble-gas{
    left=10px;
    right=50px;
    background-color: rgb(229,189,229);
  }
  .lanthanide{
    background-color: rgb(232,209,156);
  }
  .actinide{
    background-color: rgb(245,204,218);
  }
  .unknown-probably-transition-metal, .unknown-probably-post-transition-metal, .unknown-probably-metalloid, .unknown-predicted-to-be-noble-gas, .unknown-but-predicted-to-be-an-alkali-metal{
    background-color: rgb(238,238,238);
  }
</style>

<div class="periodic">
  <% @elements["order"].each do |element| %>
    <div class="ele" style=grid-column:<%= @elements[element]['xpos']%>;grid-row:<%= @elements[element]['ypos']%>>
      <div class=<%= @elements[element]["category"].gsub(",","").gsub(" ", '-') %>>
        <b><%= @elements[element]["number"] %></b></br>
        <a href="/about/<%= @elements[element]['name']%>">
        <abbr class="<%= @elements[element]["phase"].downcase%>"><%= @elements[element]["symbol"] %></abbr></br>
        </a>
        <em><%= @elements[element]["name"] %></em></br>
        <data><%= @elements[element]["atomic_mass"] %></data>
      </div>
    </div>
  <% end %>
</div>